<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>FsUaService</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>http://fs\.to/video/\w+/view/\w+</string>
				<string>http://fs\.to/video/\w+/view/\w+\?play&amp;file=\d+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://fs.to/video/films/view/i5nZFD1UynabRtgJVxDSgKY?play&amp;file=5691999</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
